.navbar__container {
  display: flex;
  padding: 5px 5vw;
  z-index: 1999999;
  /* background-color: #1976d2; */
  background-color: #344955;
  align-items: center;
  /* border-radius: 20px; */
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__search {
  align-items: center;
  height: 6vh;
  /* background-color: #1a5a99; */
  background-color: #293942;
  padding: 0 5px;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  display: inline-block;
  color: white;
}
.navbar__search > .MuiSvgIcon-root {
  color: rgba(255, 255, 255, 0.795) !important;
  font-size: 20px;
}
.navbar__search > input {
  width: 15vw;
  height: 3vh;
  outline: inherit;
  border: none;
  font-size: 16px;
  transition: 0.5s all;
  background: transparent;
  color: white;
  box-sizing: border-box;
  margin-top: 10px;
}
.navbar__search > input:focus {
  width: 22vw;
}
.navbar__search > input::placeholder {
  color: rgba(255, 254, 254, 0.39);
}

.navbar__search:hover {
  box-shadow: 0 0 15px 1px grey;
}
.navbar__right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar__tabs {
  display: flex;
  text-align: center;
  margin: 0 5vw;
}
.navbar__divider {
  background-color: rgba(255, 255, 255, 0.233);
  width: 0.5px;
  height: 50px;
}
.navbar__myaccount {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.navbar__coins {
  display: none;
  margin-left: 3vw;
  position: absolute;
  right: 5px;
  top: 60px;
  padding: 10px;
  border-radius: 10px;
  /* background-color: #1976d2; */
  background-color: #344955;
}

.nav__tab {
  margin: 0 20px;
  cursor: pointer;
}
.nav__tab div {
  display: none;
  margin-top: -5px;
  color: white;
}
.nav__tab:hover div {
  display: block;
  position: absolute;
  font-weight: 650;
}
.nav__tab:hover {
  margin-bottom: 10px;
  /* background-color: #166ec7; */
  background-color: #47606ea8;
  border-radius: 5px;
}
.navbar__container .MuiSvgIcon-root {
  color: white;
  font-size: 25px;
}
.navbar__logo {
  font-size: 40px !important;
  margin-right: 5px;
}
